body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#icon-search {
    height: auto;
    width: 20px;
    padding: 0 0 0 0;
}

h4 {
    font-size: 18px;
}


#logo{
    width: 220px ;
    height: auto;
    background-color: #333;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}


.search-artist {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#artist-input {
    padding: 10px;
    width: 350px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 2px;;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #50da55;
    color: white;
    border: none;
    border-radius: 4px;
}

#search-button:hover {
    background-color: #45a049;
    animation-duration: 500ms;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}

.header-content {
    padding-left: 50px;
    flex: 1;
    text-align: left;
}

#chosen-artist {
    text-align: right;
    padding-right: 20px;    
}

#tracks-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1400px;
    padding: 30px;
}

#albums-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    max-width: 1600px;
    padding: 30px;
}

.album-info {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 10px;
    max-width: calc(250% - 20px);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    height: 280px;
}

.track-info {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    overflow: hidden; /* Hide the overflowing content */
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto; /* Allow vertical scrolling */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1600px;
    width: 100%;
    padding: 32px; /* Add padding for better spacing */
    box-sizing: border-box;
}

.artist-info {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: calc(20% - 25px);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    height: 400px;
}


h2 {
    color: #1DB954;
    text-align: center;
}

p {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
    max-height: 180px;
}

img:hover {
    color: #1DB954;
}

.header {
    text-align: center;
    background-color: #1DB954;
    padding-top: 2px;
    width: 100%;
}

.header h1 {
    font-weight: bold;
    padding-top: 8px;
    font-size: 32px;
    color: #fff;
}

.header p {
    padding-bottom: 32px;
    color: #fff;
}

footer {
    bottom: 0;
    left: 0;
    width: auto;
    text-align: center;
    background-color: #585858;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

footer p {
    color: whitesmoke;
    font-size: 14px; 
}

a {
    color: #1DB954;
    text-decoration: none; /* Remove underline */
}

@media only screen and (max-width: 600px) {
    .header h1 {
        font-size: 20px;
        flex-direction: column;
        display: flex;
    }

    #chosen-artist {
        padding: 5px;
    }

    #tracks-container {
        padding: 20px;
    }

    .track-info {
        padding: 15px;
    }

    #logo{
        width: 80px ;
        height: auto;
        background-color: #333;
        padding: 5px 5px 5px 5px;
    }

    .search-artist {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2px;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    #artist-input {
        padding: 10px;
        width: 100px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 2px;;
    }
    
    #search-button {
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        background-color: #50da55;
        color: white;
        border: none;
        border-radius: 4px;
    }

    #tracks-container {
        grid-template-columns: 1fr; /* One card per row on smaller screens */
        padding: 20px;
    }

    .track-info {
        max-width: 100%; /* Ensure the card takes full width */
    }

    
}



.message {
    padding-top: 50px;
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 40vh;
}

.small_text {
    font-size: 12px;
    text-align: left;
    padding-top: 0;
}



.left img {
    background-color:#333;
    padding: 20px;
    border-radius: 25px;
}

h3 {
    font-size: 40px;
    color: #45a049;
}

.bg-dots {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 25px 25px; 
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.19) 1px, transparent 1px); 
    z-index: -1;
}

.linkToPage {
    color: #f4f4f4;
}

#default-content{
    padding-top: 160px;
    width: 100%;
    height: 85vh;
}

#default-content h1 {
    text-align: center;
    padding-top: 12px;
    background-color: transparent;
}

#default-content p {
    text-align: center;
    padding-bottom: 20px;
}

.Main-logo {
    background-color: #333;
    padding: 25px;
    border-radius: 12px;
    margin-left: 32px;
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navLinks li {
    margin-right: 16px; /* Adjust the spacing between items as needed */
  }

footer span {
    font-weight: bolder;
}

.githubLink {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.small-card {
    width: 200px;
    height: 260px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.display-options {
    padding-top: 10px;
    padding-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
}



#display-option {
    padding: 8px;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 8px;
    color: black;
    border: none;
    cursor: pointer;
    border: 1px solid black; 

}

.left {
    width: 122px;
    padding-top: 10px;
    text-align: right;
}

.right {
    text-align: left;
    width: 250x;
}


.image-card {
    background-color: white;
    text-align: center;
}

.artist-display-info{
    
}
